<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liang.p2p.base.mapper.UserFileMapper" >


  <resultMap id="SmallResultMap" type="com.liang.p2p.base.domain.UserFile">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="image" property="image" jdbcType="VARCHAR" />
  </resultMap>


  <resultMap id="BaseResultMap" type="com.liang.p2p.base.domain.UserFile" extends="SmallResultMap">
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="auditTime" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="applyTime" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="score" property="score" jdbcType="TINYINT" />


  </resultMap>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into `userfile` (state, remark, auditTime, applyTime, auditor_id, applier_id,
      score, image, fileType_id )
    values (#{state,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP},
      #{applyTime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT}, #{applier.id,jdbcType=BIGINT},
      #{score,jdbcType=TINYINT}, #{image,jdbcType=VARCHAR}, #{fileType.id,jdbcType=BIGINT})
  </insert>

  <update id="updateByPrimaryKey" >
    update `userfile`
    set state = #{state,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      auditTime = #{auditTime,jdbcType=TIMESTAMP},
      applyTime = #{applyTime,jdbcType=TIMESTAMP},
      auditor_id = #{auditor.id,jdbcType=BIGINT},
      applier_id = #{applier.id,jdbcType=BIGINT},
      score = #{score,jdbcType=TINYINT},
      image = #{image,jdbcType=VARCHAR},
      fileType_id = #{fileType.id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select f.id, f.state, f.remark, f.auditTime, f.applyTime, f.auditor_id, f.score, f.image, f.fileType_id
    from `userfile` f
    where id = #{id,jdbcType=BIGINT}
  </select>


  <select id="selectAll" resultMap="BaseResultMap" >
    select id, state, remark, auditTime, applyTime, auditor_id, applier_id, score, image, 
    fileType_id
    from `userfile`
  </select>


  <select id="listUnTypeFiles" resultMap="SmallResultMap">
    SELECT id, image
    FROM userfile
    WHERE applier_id = #{logininfoId} AND fileType_id is NULL
  </select>

</mapper>